/* ==============================
            VARIABLES
=================================*/
:root {
    /* Colors */
    --light-grey: #f7f7f8;
    --dark-grey: #141E26;
    --gold: #fadd25;

    /* Spacing */
    --s1: 10px;
    --s2: 25px;
    --s3: 50px;

    /* Miscelleanous */
    --radius: 5px;
    --btn-width: 200px;

    /* Fonts */
    --cyrunicorn: "Cyrunicorn", Arial, sans-serif;
    --morpheus: "Morpheus", Helvetica, sans-serif;
    --transition-in: all 0.12s ease-in;
    --transition-out: all 0.12s ease-out;
}

/* ==============================
              FONTS
=================================*/
@font-face {
    font-family: 'Cyrunicorn';
    src: url('../../public/Resources/fonts/HEROQUESTCYRUNICORN.TTF');
}

@font-face {
    font-family: 'Morpheus';
    src: url('../../public/Resources/fonts/MORPHEUS.TTF');
}

/* ==============================
            GLOBALS
=================================*/
body {
    background-color: #262626; /* TEMP */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

h3 {
    margin: 5px;
}

strong {
    color: --var(--gold);
}